body {
	text-align: center;
  background: black;
  color: #b29600;
}
header {
  border: #b29600 ridge 15px;
  margin: auto;
  width: 60vh;
}
img {
  width: 90%;
  height: auto;
}
main {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 90vh;
  margin: auto;
}
.gameboard {
  display: inline-grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 70vh;
  height: 70vh;
  border: #b29600 ridge 15px;
}
.gameboard>div {
  border: solid black 1px;
  font-size: 5vh;
}
.dark {
  background: #006400;
}
.light {
	background: #99c199;
}
.option {
	background: chartreuse;
}
.captureOption {
	background: red;
}
.stencil{
	color: black;
  font-weight: 800;
}
.sillhouette{
	color: black;
}
.kingCaptureOption, .endangered-king {
  background: orange;
}
.destruction-path {
  background: yellow;
}
.control-board {
  display: grid;
  grid-template-rows: 1fr 2fr 1fr 1fr;
  border: #b29600 ridge 15px;
  height: 70vh;
}
span {
  display: block;
}
#player-display {
  color: black;
  background: #006400;
}
#player-up {
  font-size: 4vh;
}
#message-board, #player-display {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
a {
  color: #b29600;
}
#stencil-check, #stencil-win {
  font-size: 5vh;
  display: none;
}
#sillhouette-check, #sillhouette-win {
  display: none;
  font-size: 3vh;
}
button {
  font-size: 3vh;
  background: black;
}