body {
	text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 75vw;
  height: 75vw;
  margin: auto;
}
.grid>div {
  border: solid black 1px;
  font-size: 6vw;
}
.dark {
  background: #006400;
}
.light {
	background: #99c199;
}
.option {
	background: chartreuse;
}
.captureOption {
	background: red;
}
.captured {
	
}
.stencil{
	color: black;
  font-weight: 800;
}
.sillouhette{
	color: white;
}
.kingCaptureOption, .endangered-king {
  background: orange;
}
.destruction-path {
  background: yellow;
}