body {
	text-align: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  width: 75vw;
  height: 75vw;
  margin: auto;
}
.grid>div {
  border: solid black 1px;
}
.dark {
  background: black;
  color: white;
}
.light {
	background: grey;
}
.option {
	background: chartreuse;
}
.captureOption {
	background: red;
}
.captured {
	
}